#!/bin/bash
mv -v mpfr-{{ lfs.mpfr_version }} mpfr
mv -v gmp-{{ lfs.gmp_version }} gmp
mv -v mpc-{{ lfs.mpc_version}} mpc

# OK to compile libstdc++ after changin the following lines by Jack - 2024.12.16
case $(uname -m) in
  x86_64)
    sed -e '/m64=/s/lib64/..\/usr\/lib/' \
        -i.orig gcc/config/i386/t-linux64
 ;;
esac

# Original
# sed -e '/m64=/s/lib64/lib/' -i.orig gcc/config/i386/t-linux64
sed '/thread_header =/s/@.*@/gthr-posix.h/' \
    -i libgcc/Makefile.in libstdc++-v3/include/Makefile.in

